<header>
    <div class="banner">
        <a class="landing-logo" href="/"><img class="logo" src="/assets/images/pwc_logo.png" alt=""></a>
    </div>
</header>

<div class="signup-page">
    <section class="signup-content">
        <h1 class="title">SIGN UP INSTRUCTOR</h1> 
        <form action="/users" method="POST">
            <input placeholder="First Name" type="text" name="first_name">
            <input placeholder="Last Name"type="text" name="last_name">
            <input placeholder="Email"type="text" name="email">
            <input placeholder="Password" type="password" name="password">
            <input placeholder="Admin (yes/no)" type="boolean" name="admin">
            <button class="submit-btn" >SIGN UP</button>
        </form>
    </section>
        
</div>