<header>
    <div class="banner">
        <a class="landing-logo" href="/"><img class="logo" src="/assets/images/pwc_logo.png" alt=""></a>
    </div>
</header>

<div class="new-entry-page">
    <section class="content">
        <h1 class="title">ADD NEW ENTRY</h1> 
        <form action="/journals?user_id=<% session['user_id'] %>" method="POST">
            <input placeholder="Location" type="text" name="location">
            <input placeholder="Date"type="date" name="date">
            <input placeholder="Other Instructors" type="text" name="other_instructor">
            <input placeholder="New Students" type="text" name="new_students">
            <input placeholder="Injuries" type="text" name="injuries">
            <input placeholder="Drills" type="text" name="drills">
            <input placeholder="Notes" type="text" name="notes">
            <input placeholder="Image URL" type="text" name="image_url">
            <button class="submit-btn" >ADD ENTRY</button>
        </form>
    </section>
</div>
