/* Colours */
/* Charcoal - rgb(20, 20, 20) */
/* Yellow - rgb(255, 218, 10); */

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}


body {
    margin: 0;
    background-color: rgb(48, 48, 48);
}

.landing-page {
    background: url("/assets/images/landing_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
}

.title {
    font-size: 4rem;
    margin-top: 20px;
}

.landing-logo {
    width: 200px;
}

.landing-btn {
    border: 1px solid black;
    border-radius: 7px;
    padding: 1rem 1.5rem;
    background-color: black;
    color: white;
    border: 1.5px solid white;
    font-size: 1.25rem;
    text-decoration: none;
    cursor: pointer;
}

.landing-btn:hover {
    color: rgb(255, 218, 10);
    border: 1.5px solid rgb(255, 218, 10);
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s
}

.login-page {
    background: url("/assets/images/landing_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.submit-btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.7rem 2.5rem;
    background-color: black;
    color: white;
    border: 1.5px solid white;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.submit-btn:hover {
    color: rgb(255, 218, 10);
    border: 1.5px solid rgb(255, 218, 10);
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    align-items: center;
    width: 400px;
}

input {
    padding: 0.5rem 0.5rem;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1rem;
}

.signup-page {
    background: url("/assets/images/wallbag_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

header {
    background-color: rgb(20, 20, 20);
    display: flex;

    width: 100%;
}

.logo {
    max-width: 50px;
    object-fit: contain;
    margin: 10px;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.logout-form button {
    border: none;
}

.right-controls {
    display: flex;
    color: white;
    background-color: rgb(20, 20, 20);

}

.new-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-entry-page {
    background: url("/assets/images/new-class-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-entry-page {
    background: url("/assets/images/edit-post-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1,
h3 {
    color: white;
}



h3 {
    margin: 10px;
}


main {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 90%;
    margin: 0 auto;
    color: white;
}

.journals {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.25rem;
    margin-top: 1.5rem;
}

.journal {
    border: 4px solid rgb(255, 218, 10);
    background: white;
    color: black;
    border-radius: 15px;
    padding: 8px;
}


.journal img {
    width: 100%;
    height: 350px;
    object-fit: cover;

}

.controls {
    display: flex;
    justify-content: flex-end;
}

.controls img {
    height: 35px;
    cursor: pointer;
}

#delete-icon {
    width: 35px;
}

#delete-icon button {
    padding: 0;
    background-color: rgba(20, 20, 20, 0);
    border: none;
}

p {
    margin-bottom: 0;
}

span {
    font-weight: 700;
}