<h1>Add a New Class Entry</h1>

<form class="form" action="/journals" method="POST">
    <label for="">Location: </label>
    <input type="text" name="location">

    <label for="">Date: </label>
    <input type="text" name="date">

    <label for="">Instructor: </label>
    <input type="text" name="instructor_name">

    <label for="">Additional Instructors: </label>
    <input type="text" name="other_instructor">

    <label for="">New Students: </label>
    <input type="text" name="new_students">

    <label for="">Injuries: </label>
    <input type="text" name="injuries">

    <label for="">Drills: </label>
    <input type="text" name="drills">

    <label for="">Notes: </label>
    <input type="text" name="notes">

    <label for="">Image URL </label>
    <input type="text" name="image_url">

    <button>Add Entry</button>

</form>
