
<div class="login-page">
    <section class="login-content">
        <h1 class="title">LOG IN</h1> 
        <form action="/sessions" method="POST">
            <input placeholder="Email" type="text" name="email">
            <input placeholder="Password" type="password" name="password">
            <button class="login-btn" >LOGIN</button>
        </form>
    </section>
        
</div>